/**
 * sass/objects/images.scss
 * @package xllant
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2023
**/

.image {
    // GLOBAL
    // MOBILE
        @media #{$media-xs} {} //.COL-XS
        @media #{$media-sm} {} //.COL-SM
        @media #{$media-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$media-lg} {} //.COL-LG
        @media #{$media-xl} {} //.COL-XL
        @media #{$media-xxl} {} //.COL-XXL

    &-responsive {
        // GLOBAL
            height: 0.00rem;
            position: relative;
            padding-top: 30px;
            padding-bottom: 56.25%;
            overflow: hidden;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        img {
            // GLOBAL
                height: 100.00%;
                width: 100.00%;
                position: absolute;
                top: 0.00%;
                left: 0.00%;
                
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //IMG

    } //.IMAGE-RESPONSIVE

} //.IMAGE