/**
 * sass/objects/text.scss
 * @package xllant
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2023
**/

// VARIABLES
    // LINE-HEIGHTS
        $line-height-overlap: 0.90;
        $line-height-single: 1.00;
        $line-height-condensed: 1.25;
        $line-height-normal: 1.50;
        $line-height-expanded: 1.75;
        $line-height-double: 2.00;

    // LETTER-SPACING
        $letter-spacing-condensed: -1px;
        $letter-spacing-normal: 0px;
        $letter-spacing-expanded: 1px;

// LISTS
    // HEADINGS
        $text-headings-h1: "h1, .h1, h1.elementor-heading-title";
        $text-headings-h2: "h2, .h2, h2.elementor-heading-title";
        $text-headings-h3: "h3, .h3, h3.elementor-heading-title";
        $text-headings-h4: "h4, .h4, h4.elementor-heading-title";
        $text-headings-h5: "h5, .h5, h5.elementor-heading-title";
        $text-headings-h6: "h6, .h6, h6.elementor-heading-title";
        $text-headings-primary: "#{$text-headings-h1}, #{$text-headings-h2}, #{$text-headings-h3}";
        $text-headings-secondary: "#{$text-headings-h4}, #{$text-headings-h5}, #{$text-headings-h6}";
        $text-headings-all: "#{$text-headings-h1}, #{$text-headings-h2}, #{$text-headings-h3}, #{$text-headings-h4}, #{$text-headings-h5}, #{$text-headings-h6}";

    // BODY
        $text-body-p: "p, .p";
        $text-body-li: "li, .li";
        $text-body-span: "span, .span";
        $text-body-all: "#{$text-body-p}, #{$text-body-li}, #{$text-body-span}";

    // LINKS
        $text-links: "a, .a";
        $text-links-all: "#{$text-links}";

    // TEXT-ALL
        $text-all: "#{$text-headings-all}, #{$text-body-all}, #{$text-links-all}";

// SETTINGS
    // HEADINGS
        $heading-text-size: $font-size-base * 1.00;
        $heading-text-size-increase: 0.25;
        $heading-text-style: normal;
        $heading-text-height: $line-height-normal;
        $heading-text-spacing: $letter-spacing-normal;
        $heading-text-margin: $margin-md;

    // BODY
        $body-text-size: $font-size-base;
        $body-text-height: $line-height-normal;
        $body-text-spacing: $letter-spacing-normal;
        $body-text-margin: $margin-sm;

    // ICONS
        $font-icons: normal normal normal $font-size-base FontAwesome;
        $icon-margin: $margin-none $margin-xs;

    // SHADOWS
        $text-shadow: $shadow-text;

// STYLES
    // HEADINGS
        #{$text-headings-all} {
            // GLOBAL
                line-height: $heading-text-height;
                letter-spacing: $heading-text-spacing;
                text-transform: $heading-text-style;
                margin: $heading-text-margin $margin-none ($heading-text-margin * 0.50) $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-ALL

        #{$text-headings-primary} {
            // GLOBAL
                font-family: $heading-text;
                font-weight: 400;
                color: $heading-text-color;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-PRIMARY

        #{$text-headings-secondary} {
            // GLOBAL
                font-family: $body-text;
                font-weight: 700;
                color: $body-text-color;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-SECONDARY

        #{$text-headings-h1} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 5.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H1

        #{$text-headings-h2} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 4.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H2

        #{$text-headings-h3} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 3.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H3

        #{$text-headings-h4} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 2.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H4

        #{$text-headings-h5} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 1.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H5

        #{$text-headings-h6} {
            // GLOBAL
                font-size: $heading-text-size + ($heading-text-size-increase * 0.00);

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-HEADINGS-H6

    // BODY
        #{$text-body-all} {
            // GLOBAL
                font-family: $body-text;
                font-size: $body-text-size;
                line-height: $body-text-height;
                letter-spacing: $body-text-spacing;
                color: $body-text-color;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-BODY-ALL

        #{$text-body-p} {
            // GLOBAL
                margin: $body-text-margin $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-BODY-P

        #{$text-body-li} {
            // GLOBAL
                margin: ($body-text-margin * 0.50) $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-BODY-LI

        #{$text-body-span} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-BODY-SPAN

    // LINKS
        #{$text-links-all} {
            // GLOBAL
                color: $text-link-color;
                text-decoration: none;

                &:hover {
                    color: $text-link-hover-color;
                    text-decoration: none;
                } //:HOVER

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-LINKS-ALL

        #{$text-links} {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-LINKS

    // GLOBAL
        .text {
            // GLOBAL
            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            &-align {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                &-left {
                    // GLOBAL
                        text-align: left;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-ALIGN-LEFT

                &-center {
                    // GLOBAL
                        text-align: center;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-ALIGN-CENTER

                &-right {
                    // GLOBAL
                        text-align: right;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-ALIGN-RIGHT

                &-justify {
                    // GLOBAL
                        text-align: justify;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-ALIGN-JUSTIFY
            } //.TEXT-ALIGN

            &-italic {
                // GLOBAL
                    font-style: italic;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-ITALIC

            &-weight {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                &-light {
                    // GLOBAL
                        font-weight: 300;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-WEIGHT-LIGHT

                &-normal {
                    // GLOBAL
                        font-weight: 400;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-WEIGHT-NORMAL

                &-bold {
                    // GLOBAL
                        font-weight: 700;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.TEXT-WEIGHT-BOLD
            } //.TEXT-WEIGHT

            &-lowercase {
                // GLOBAL
                    text-transform: lowercase;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-LOWERCASE

            &-capitalize {
                // GLOBAL
                    text-transform: capitalize;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-CAPITALIZE

            &-uppercase {
                // GLOBAL
                    text-transform: uppercase;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-UPPERCASE

            &-underline {
                // GLOBAL
                    text-decoration: underline;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-UNDERLINE

            &-shadow {
                // GLOBAL
                    text-shadow: $text-shadow;
                    
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.TEXT-SHADOW

        } //.TEXT