/**
 * sass/variables/colors.scss
 * @package xllant
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2023
**/

// VARIABLES
    $color-adjustment: calc(100.00% / 12);
    $color-adjustment-light: #ffffff;
    $color-adjustment-dark: #000000;

// GRAYSCALE COLLECTION
    $color-grayscale: #808080;

    // -LIGHT
        $color-grayscale-light-12: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 12);
        $color-grayscale-light-11: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 11);
        $color-grayscale-light-10: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 10);
        $color-grayscale-light-9: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 9);
        $color-grayscale-light-8: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 8);
        $color-grayscale-light-7: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 7);
        $color-grayscale-light-6: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 6);
        $color-grayscale-light-5: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 5);
        $color-grayscale-light-4: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 4);
        $color-grayscale-light-3: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 3);
        $color-grayscale-light-2: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 2);
        $color-grayscale-light-1: mix($color-adjustment-light, $color-grayscale, $color-adjustment * 1);

    // -BASE
        $color-grayscale-0: $color-grayscale;

    // -DARK
        $color-grayscale-dark-1: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 1);
        $color-grayscale-dark-2: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 2);
        $color-grayscale-dark-3: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 3);
        $color-grayscale-dark-4: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 4);
        $color-grayscale-dark-5: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 5);
        $color-grayscale-dark-6: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 6);
        $color-grayscale-dark-7: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 7);
        $color-grayscale-dark-8: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 8);
        $color-grayscale-dark-9: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 9);
        $color-grayscale-dark-10: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 10);
        $color-grayscale-dark-11: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 11);
        $color-grayscale-dark-12: mix($color-adjustment-dark, $color-grayscale, $color-adjustment * 12);

// BLACK COLLECTION
    $color-black-rgb: #000000;
    $color-black-rich: #231f20;
    $color-black-neutralrich: #000104;
    $color-black-pantone: #2e2a25;
    $color-black-registration: #000000;
    $color-black-designer: #000000;
    $color-black-photoshop: #000000;
    $color-black-cool: #001423;
    $color-black-warm: #220000;
    $color-black-golden: #1e1b00;