/**
 * sass/layouts/devices.scss
 * @package xllant
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2023
**/

// MOBILE DEVICES
    .phone {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {
                    display: inherit;
                } //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.PHONE-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {
                    display: none !important;
                } //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.PHONE-HIDE
    } //.PHONE

    .tablet {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {
                    display: inherit;
                } //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.TABLET-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {
                    display: none !important;
                } //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.TABLET-HIDE
    } //.TABLET

    .mobile {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {
                    display: inherit;
                } //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.MOBILE-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {
                    display: none important;
                } //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.MOBILE-HIDE
    } //.MOBILE

// DESKTOP DEVICES
    .desktop {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {
                    display: inherit;
                } //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {
                    display: none !important;
                } //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-HIDE
    } //.DESKTOP

    .desktop-sm {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {
                    display: inherit;
                } //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-SM-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {
                    display: none !important;
                } //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-SM-HIDE
    } //.DESKTOP-SM

    .desktop-md {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {
                    display: inherit;
                } //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-MD-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {
                    display: none !important;
                } //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-MD-HIDE
    } //.DESKTOP-MD

    .desktop-lg {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {
                    display: inherit;
                } //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-LG-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {
                    display: none !important;
                } //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-LG-HIDE
    } //.DESKTOP-LG

    .desktop-xl {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {
                    display: inherit;
                } //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-XL-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {
                    display: none !important;
                } //DESKTOP-XL
                @media #{$device-desktop-xxl} {} //DESKTOP-XXL
        } //.DESKTOP-XL-HIDE
    } //.DESKTOP-XL

    .desktop-xxl {
        // GLOBAL
        // MOBILE
            @media #{$device-phone} {} //PHONE
            @media #{$device-tablet} {} //TABLET
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //DESKTOP
            @media #{$device-desktop-sm} {} //DESKTOP-SM
            @media #{$device-desktop-md} {} //DESKTOP-MD
            @media #{$device-desktop-lg} {} //DESKTOP-LG
            @media #{$device-desktop-xl} {} //DESKTOP-XL
            @media #{$device-desktop-xxl} {} //DESKTOP-XXL

        &-show {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {
                    display: inherit;
                } //DESKTOP-XXL
        } //.DESKTOP-XXL-SHOW

        &-hide {
            // GLOBAL
            // MOBILE
                @media #{$device-phone} {} //PHONE
                @media #{$device-tablet} {} //TABLET
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //DESKTOP
                @media #{$device-desktop-sm} {} //DESKTOP-SM
                @media #{$device-desktop-md} {} //DESKTOP-MD
                @media #{$device-desktop-lg} {} //DESKTOP-LG
                @media #{$device-desktop-xl} {} //DESKTOP-XL
                @media #{$device-desktop-xxl} {
                    display: none !important;
                } //DESKTOP-XXL
        } //.DESKTOP-XXL-HIDE
    } //.DESKTOP-XXL