/**
 * sass/layouts/wrappers.scss
 * @package xllant
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2023
**/

.wrapper {
    // GLOBAL
        margin: 0.00rem auto;

    // MOBILE
        @media #{$media-xs} {} //.COL-XS
        @media #{$media-sm} {} //.COL-SM
        @media #{$media-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$media-lg} {} //.COL-LG
        @media #{$media-xl} {} //.COL-XL
        @media #{$media-xxl} {} //.COL-XXL

    &-full {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            min-width: 100.00%;
            max-width: 100.00%;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        &-screen {
            // GLOBAL
                @extend .wrapper-full;
                height: 100.00vh;
                min-height: 100.00vh;
                max-height: 100.00vh;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.WRAPPER-FULL-SCREEN
    } //.WRAPPER-FULL

    &-content {
        // GLOBAL
            @extend .wrapper;
            width: $site-width-min;
            max-width: $site-width-content !important;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        // CONTENT
            @media #{$content-width-sm} {
                width: 100.00%;
                padding-left: $body-gutter-mobile;
                padding-right: $body-gutter-mobile;
            } //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {
                width: $site-width-content;
            } //.CONTENT-WIDTH-LG
    } //.WRAPPER-CONTENT

    &-none {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            padding: $padding-none;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL
    } //.WRAPPER-NONE

} //.WRAPPER